<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!--script src="http://code.highcharts.com/highcharts.js"></script-->
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<script>
	function ChartClicked(oPointObject) {            
           		 if (oPointObject.selected) {
                		oPointObject.select(false, true);                
            		}
            		else {
                		oPointObject.select(true, true);                
            		}            
         	}
  	var timer;
  	var name='', pxname='', svname='';
	function chart(box,svname,pxname) {
		if(box == '' || svname == ''){
			return;
		}
		var url = '/rest/load/?pxname='+pxname+'&box='+box+'&svname='+svname;
		var url2 = '/rest/live/?pxname='+pxname+'&box='+box+'&svname='+svname;
		$.getJSON(url, function(data) {
			// Create the chart
				Highcharts.setOptions({
        			global: {
        				useUTC : false,
            			}
    			});
				$('#container').highcharts('StockChart', {
				chart: {
					type : 'spline',
					events : {
						load : function() {
							var series = this.series[0];
							setInterval(function() {
								$.getJSON(url2, function(values) {
									var x = values['timestamp'];
									var y = values['rate'];
									series.addPoint([x, y],true,true);
								});	
							}, 11000);
						}
					}
				},
				credits: {
					href: "Created by Vikas Aggarwal",
				},
				plotOptions: {						            
					series: {
                		color: 'Green',
                		connectNulls: true,
						cursor: 'pointer',
                		point: {
                    		events: {
                        		click: function () {
                            		alert("Time: " + new Date(this.x) + "Session Rate: " + this.y);
                        		}
                    		}
                		}		
            		}
        		},
				crosshairs: {
	    			dashStyle: 'dash'
	    		},	
				xAxis: {
            		type: 'datetime',
            		range: 3600 * 100,
            			
					title : {
						text : 'Time line'
					},
					labels: {
        				formatter: function() {
             				return Highcharts.dateFormat("%H:%M", this.value);
        				}
    				}
        		},
        		yAxis : {
        			opposite : false,
        			title : {
        				text : 'Session Rate'
        			},
					plotBands : [{
						from : 0,
						to : 30,
						color : 'rgba(68, 170, 213, 0.2)',
						label : {
							text : 'Safe Zone'
						}
					}]
        		},
				title : {
					text : 'Haproxy - Stats'
				},
				legend: {
	    			enabled: true,			
	    		},
				series : [data]
			});
		});
			//timer = setTimeout(function(){
			//	chart(box,svname);
			//},7000);
	}
	function stop(){
		alert('Terminating Autoload');
			//clearTimeout(timer);
			//$('#container').highcharts().destroy();
	}	
	function getOptions(level, name, pxname,id) {
		$.getJSON('/rest/render/?level='+level+'&name='+name+'&pxname='+pxname, function(data) {
			var select = document.getElementById(id);
			for ( var index in data) {
				for(var index2 in data[index]){
					var option = document.createElement('option');
					option.value = data[index][index2];
					option.text = data[index][index2];
					select.add(option);
				}
			}
		});
	}
	function removeOptions(id){
		document.getElementById(id).innerHTML = "";
		var option = document.createElement('option');
		option.value = '';
		option.text = 'Drop it down';
		document.getElementById(id).add(option);
		
	}
	function getpxname(name) {
		removeOptions('pxname');
		removeOptions('svname');
		this.name = name;
		getOptions(1,name,pxname,'pxname');
	}
	function getsvname(pxname) {
		removeOptions('svname');
		this.pxname = pxname;
		getOptions(2,name,pxname,'svname');
	}
	function drawGraph(svname) {
		this.svname = svname;
		chart(this.name, this.svname, this.pxname);
	}
	getOptions(0,name,pxname,'name');
	
	function removeBox(){
		var response = confirm ('Are you sure ?');
		if(response == true){
			$.get('/rest/remove/?name='+name+'&pxname='+pxname+'&svname='+svname, function(data, status) {
				if(data == 'OK')
					window.location = '/';
				else
					alert('Could not delete some error occured that\'s all i know');
			});
		}
	}
	
	function groupTogether(){
		$.getJSON('/rest/render/?level=2&name='+name+'&pxname='+pxname, function(data) {
			
		});
	}
	
	</script>
</head>
<body>
	<button onClick="window.location=/new/">Add new cluster</button>
	<button onClick="removeBox()">Delete this box</button>
	<!--button onClick="groupTogether()">Group Together</button-->
	<h3 style="display:inline">Select Name</h3>
	<select id="name" onChange="getpxname(this.value);" style="display:inline">
	<option>Name</option>
	</select>
	<h3 style="display:inline">Select Proxy Name</h3>
	<select id="pxname" onChange="getsvname(this.value)" style="display:inline">
	<option>Proxy Name</option>
	</select>
	<h3 style="display:inline">Select Server Name</h3>
	<select id="svname" onChange="drawGraph(this.value)" style="display:inline">
	<option>Server Name</option>
	</select>
	

	<!--button onClick="chart('http://localhost:8082/rest/api/?pxname=healthkart&box=prod&svname=vmn-265-P');">VMN-265-P</button-->
	<div id="container" style="width: 100%; height: 400px;"></div>
</body>
</html>
